body>svg {
    position:absolute;
}

body::before,
body::after {
  position: fixed;
  inset: 0;
  z-index: -1;
  -webkit-mask: radial-gradient(red, transparent);
  mask: radial-gradient(red, transparent);
  content: "";
}

body::before {
  background: #000;
  filter: url(#filter);
}

body::after {
  background: linear-gradient(navy, aqua);
}
