svg#filter {
  position: absolute;
}

body.light {
  &::before,
  &::after {
    position: fixed;
    inset: 0;
    z-index: -1;
    --grad: radial-gradient(
      at 25%,
      red,
      #{rgba(red, 0.2)} 50%,
      transparent 70%
    );
    --mask: var(--grad), var(--grad);
    -webkit-mask: var(--mask);
    -webkit-mask-composite: source-in;
    mask: var(--mask);
    mask-composite: intersect;
    mix-blend-mode: color;
    content: "";
  }

  &::before {
    background: #000;
    filter: url(#f);
  }

  &::after {
    background: linear-gradient(90deg, purple, navy 20%, aqua);
  }
}

body.dark {
	&::before, &::after {
		position: fixed;
		inset: 0;
		z-index: -1;
		--grad: 
			radial-gradient(at 95%, 
					red, #{rgba(red, .3)} 100%, transparent 80%);
		--mask: var(--grad), var(--grad);
		-webkit-mask: var(--mask);
						mask: var(--mask);
		mix-blend-mode: color;
		content: ''
	}
	
	&::before {
		background: black;
		filter: url(#f)
	}
	
	&::after {
		background: linear-gradient(-45deg, purple, navy 90%);
	}
}

body.dark header a, body.dark header nav {
  background-color: #202020;
  color:#f1f1f1;
}

body.dark .bulle {
  background-color: #343434;
}
body.dark .bulle:hover {
  background: #f1f1f1;
}
body.dark .bulle i {
  color: #f1f1f1
}
body.dark .bulle:hover i {
  color: #343434
}

body.dark .line {
  background: #f1f1f1;
}


