button.nav-toggler {
    opacity: 0;
}

@media screen and (max-width: 768px) {

    button.nav-toggler {
        position: fixed;
        z-index: 20;
        top: 10px;
        right: 30px;
        height: 50px;
        width: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        opacity: 1;
    }

    .line {
        position: absolute;
        display: block;
        width: 70%;
        height: 2px;
        background: #343434;
        transition: transform 0.3s ease-out,
            opacity 0.1s ease-out;
    }

    .l1 {
        transform: translateY(-10px);
    }

    .l3 {
        transform: translateY(+10px);
    }

    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }

    .nav-toggler.active .l2 {
        opacity: 0;
    }

    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }

    nav.flex-item-menu {
        position: fixed;
        width: 100vw;
        display: flex;
        transform: translateX(100%);
        /* transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84); */
        transition: transform 350ms ease-out;
        background-color: aqua;
    }

    .toggles {
        padding-left: 0;
        margin-top: 5%;
        padding: 0;
    }

    .theme {
        margin-left: 2%;;
    }

    div.toggles {
        width: 100%;
        justify-content: space-around;
        /* margin-top: 5%;
        padding: 0; */
        /* margin-left: 24%; */
        /* justify-content: space-between; */
        /* align-self: flex-end; */
        /* justify-items: flex-end; */
    }

    div.toggles p {
        /* margin-right: 10%; */
    }

    nav ul.menu {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        padding-top: 80px;
        margin: 0 auto;
    }

    .menu li {
        margin-block: 15px;
    }

    nav.active {
        transform: translateY(0);
        height: 100%;
    }

    .menu li a {
        font-family: 'Melburch';
        font-size: larger;
    }
}