@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@500&display=swap');

@font-face {
    font-family: "Melburch";
    src: url('../assets/fonts/Melburch/Melburch.otf');
}

@font-face {
    font-family: "Melburch Outline";
    src: url('../assets/fonts/Melburch/Melburch\ Outline.otf');
}


/* Global styles
------------------------------- */
html {
    box-sizing: border-box;
    color: #202020;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

section {
    height: 100vh;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #202020;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "Melburch";
    margin: 20px 0;
}

h1 {
    /* font-size: 56px; */
    font-size: 3.5rem;
    line-height: 2;
}

h2 {
    /* font-size: 51px; */
    font-size: 3.2rem;
    line-height: 2;
}

h3 {
    /* font-size: 35px; */
    font-size: 2.3rem;
    line-height: 2;
}

.content-wrap {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

noscript>div
{
    background-color: darksalmon;
    position: fixed;
    margin-left: 12%;
    margin-top: 5%;
    padding: 10rem;
    z-index: 12;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3);
}


/* .modal-open {
    height: 100vh;
    overflow-y: hidden;
} */

/* Header
------------------------------- */
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.flex-item {
    display: flex;
    flex: 1 1 100px;
    background-color: white;
    /* border: solid 1px black; */
    align-items: center;
    height: 56px;
}

.flex-item-menu {
    display: flex;
    flex: 6 1 100px;
    background-color: white;
    /* border: solid 1px black; */
    height: 56px;
}

.menu {
    display: flex;
    flex: fit-content;
    max-width: 80%;
    height: 55.99px;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
}

.menu li {
    /* margin: 0 auto; */
    align-items: center;
    /* padding-left: 40px; */
}

div.toggles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 5%; */
}

.toggles {
    padding-left: 3rem;
    cursor: pointer;
}

img.language {
    /* width: 80%; */
}

.theme {
    margin-right: 10%;
}

header img[alt="logo"] {
    height: 56px;
    max-width: 60px;
    margin-left: 20%;
}

.burger {
    display: none;
}

/* .toggles p {
    flex: 0 1 20%;
} */

/* .nav-toggler {
    visibility: hidden;
} */

/* .flex-item.toggles p {
    flex: 0 1 20%;
} */

/* Hero
------------------------------- */
#hero {
    height: 100vh;
    text-align: center;
    padding-top: 40px;
}

#hero h2 {
    font-family: 'Melburch Outline';
}

/* A garder ou supprimer */
.moving-text {
    position: absolute;
    bottom: 6%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index: -10;
    /* margin-top: 140px; */
}

.marquee {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    background-color: pink;
    overflow: hidden;
    padding: 0.8rem;
    bottom: 50px;
    z-index: -1;
    width: 100vw;
}

.marquee>p{
    white-space: nowrap;
    padding: 0 3rem;
    animation: marquee 7000ms linear infinite;
    font-weight: 500;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.icones {
    width: 5%;
    position: fixed;
    bottom: 15%;
    right: 4%;
}

.icones {
    /* position: absolute; */
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.bulle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 1px solid #f1f1f1; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    /* background: #f1f1f1; */
    cursor: pointer;
    position: relative;
}

.icones ul li {
    margin-bottom: 10px;
}

.icones ul li a {
    transition: color 2s ease-out;
}

/* .bulle:hover { */
    /* background-color: #343434; */
/* } */

.bulle:hover i {
    /* color: white; */
    color: #797979; 
}

/*About
------------------------------- */
.wrap-about-me {
    display: flex;
}

.wrap-about-me-p {
    flex: 8;
    padding-right: 50px;
}

.wrap-about-me-img {
    flex: 1;
    object-fit: cover;
    border-radius: 5%;
    max-width: 180px;
    margin-left: 10%;
    ;
}

.women-api {
    display: flex;
    display: none;
}

/* Projects
------------------------------- */
section#projects div.flex-container {
    display: flex;
}

div#galerie {
    display: flex;
    flex: 3;
    overflow-x: scroll;
    height: 450px;
    /* scrollbar-width: none; Hide the scroll bar but keep functionality on Firefox */
}

/* Hide the scroll bar but keep functionality
Chrome, Safari and Opera */
/* div#galerie::-webkit-scrollbar{
    display:none;
} */

div#galerie::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

div#galerie::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

div#galerie::-webkit-scrollbar-thumb {
    background-color: #000000;
}

section#projects h3 {
    font-size: 1.2rem;
    text-align: center;
}

.flex-item-filter {
    flex: 2;
    padding-top: 4%;
}

.flex-item-filter ul li {
    padding-top: 3%;
}

.flex-item-filter ul li.active {
    font-weight: 700;
}

.flex-item-filter ul li:hover {
    padding-top: 3%;
    font-weight: 700;
}

.project-item {
    flex: 1 0 32%;
    margin-right: 2%;
    cursor: pointer;
    max-width: 230px;
}

.project-item:last-child {
    margin-right: 0%;
}

section#projects img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

section#projects .image-container {
    height: 300px;
    /* position: absolute; */
}

section#projects img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    /* transition: .3s ease-in-out; */
}

/* .project-item:hover .image-overlay {
    transform: translateY(0%);
} */

/* .image-overlay {
    background: rgba(23, 565, 89, .9);
    height: 100%;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;
    position: relative;
} */


/* Modal Project Detail
------------------------------- */
.modal-container {
    /* display: none; On va préférer visibility à display car permet de faire des transition et animation*/
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.modal-container.active {
    /* display: block; */
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
    z-index: 12;
}

.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 1200px;
    min-width: 300px;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    /* pour centrer des éléments positionnés en absolu:  */
    /* ne fonctionne pas */
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
    z-index: 14;
}

.modal-container.active .modal {
    opacity: 1;
    /* ne fonctionne pas */
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
        transform 0.4s 0.2s ease-out;
}

div.modal h2#project-title {
    font-size: 2rem;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}

.modal-content {
    display: flex;
}

.description-container {
    flex: 1;
    position: relative;
}

img#media {
    flex: 1;
    max-width: 600px;
    margin-left: 3%;
}

#tag {
    display: flex;
    margin-top: 10%;
}

#tag p {
    margin-right: 2%;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
}

.button-wrap {
    position: absolute;
    bottom: 20px;
}

/* .button-52:nth-child(2) {
    margin-left: 20px;
} */

/* Skills
------------------------------- */
#graph-container {
    max-width: 50%;
    margin: auto;
}

/* Background
------------------------------- */
#background>div.content-wrap {
    position: relative;
}

.box-timeline {
    display: flex;
    flex-direction: row-reverse;
    height: 550px;
    overflow-x: hidden;
    width: auto;
    align-items: flex-start;
}

.box-timeline:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border: 2px solid #343434;
    width: 1080px;
    margin: 0 auto;
    margin-top: 270px;
}

.timeline-item {
    /* flex: 1 0 25%; */
    flex: 0 0 auto;
    width: 350px;
    height: 150px;
    /* margin-left: 5%; */
    text-align: center;
    position: relative;
    min-height: 225px;
    margin-left: -120px;
    /* border: 1px solid black; */
}

.timeline-item:nth-child(2n) {
    align-self: flex-end;
    margin-bottom: 10px;
    position: relative;
}

.timeline-item h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
}

.timeline-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item:nth-child(even) a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.timeline-item a img {
    max-height: 120px;
    max-width: 120px;
    flex: 1;
    object-fit: contain;
    margin: 2%;
    margin-top: 10px;
    /* height: 10%; */
}

.timeline-item a img.img-carre {
    max-height: 60px;
    max-width: 60px;
}

.timeline-item a img.img-rect {
    /* max-height: 60px; */
    max-width: 180px;
    /* margin-top: 10px; */
}

.timeline-item a:hover {
    text-decoration: none;
}

.item-description {
    flex: 2;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.item-description p {
    margin: 0;
    margin-left: 12%;
    margin-right: 12%;

}

.timeline-card-svg path {
    fill: #343434;
}

.timeline-card-svg:nth-of-type(odd),
.timeline-card-svg:nth-of-type(even) {
    position: absolute;
    width: 13px;
    height: 49px;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%);
}

.timeline-item:nth-of-type(even) .timeline-card-svg {
    top: -30px;
    margin-top: -27px;
    transform: scaleY(-1) translate(-50%);
}

#left {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 330px;
    left: -45px
}

#right {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 330px;
    right: -45px;
}

/* Contact
------------------------------- */

.contact-wrap p {
    text-align: center;
}

.contact-wrap:nth-child(2) p {
    margin-bottom: 40px;
}

.contact-wrap a {
    /* text-align: center; */
    /* display: block; */
    margin-top: 40px;
}

a.rotate img {
    display: block;
    width: 140px;
    animation: rotate 25s linear infinite;
    transform-origin: center;
    margin: auto;
    /* border:#ff365e 1px solid; */
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

a.rotate:hover img {
    opacity: 0.8;
} 

div.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


div.button-container>a.button {
    margin-right: 20px;
}

.button {
    border: black 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
}

.button:hover {
    background-color: aquamarine;
    border: aquamarine 1px solid;
}


/* MEDIA QUERIES *************
******************************/

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    div.content-wrap {
        width: 70%;
    }

    section#hero aside.moving-text {
        bottom: 15%;
    }

    section#hero div.icones {
        bottom: 25%;
    }

    div#galerie {
        flex: 5;
        height: 450px;
    }

    .modal {
        width: 80%;
    }

    img#media {
        max-width: 500px;
    }

    .box-timeline:after {
        width: 895.95px;
    }

    .timeline-item {
        width: 314px;
    }

    .timeline-item p {
        margin: 0px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    div.content-wrap {
        /* width: 960px; */
        width: 80%;
    }

    section#hero aside.moving-text {
        bottom: 12%;
    }

    section#hero div.icones {
        bottom: 20%;
        right: 5%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2rem;
    }

    div#galerie {
        flex: 6;
        height: 450px;
    }

    .box-timeline:after {
        width: 819px;
    }

    .timeline-item {
        width: 314px;
        margin-left: -145px;
    }

    .timeline-item p {
        margin: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    div.content-wrap {
        width: 720px;
        width: 80%;
        padding-top: 0px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    a,
    p {
        font-size: 0.8rem;
    }

    section#hero aside.moving-text {
        font-size: smaller;
    }

    header img {
        height: 40px;
    }

    header ul.menu li a {
        font-size: 1rem;
    }

    section {
        padding-top: 3%;
    }

    div#galerie {
        flex: 6;
        height: 300px;
    }

    section#projects h3 {
        font-size: smaller;
        margin: 2%;
        letter-spacing: 0.2rem;
    }

    section#projects ul {
        padding-left: 0px;
    }

    li.filter {
        font-size: smaller;
    }

    .project-item {
        flex: 1 0 54%;
        margin-right: 4%;
        cursor: pointer;
        max-width: 230px;
    }

    .project-item .image-container {
        max-height: 250px;
    }

    .modal {
        width: 90%;
        height: 80%;
        padding: 30px;
    }

    img#media {
        max-width: 400px;
    }

    .modal h2 {
        font-size: 1rem;
        margin-top: 0;
    }

    .button-wrap {
        bottom: -20%;
    }

    .box-timeline {
        flex-direction: column;
        height: 70vh;
    }

    .timeline-item {
        height: 150px;
        width: 300px;
        margin-left: 0px;
        min-height: 115px;
        margin: 0 auto;
    }

    .box-timeline:after {
        width: 2px;
        height: 70vh;
        margin-top: 0px;
        margin-left: clamp(520px, 80vw, 80%);
    }


    .timeline-item a {
        flex-direction: row;
    }

    .box-timeline .timeline-item:nth-child(2n) a {
        flex-direction: row;
    }

    .timeline-item p {
        padding-left: 2%;
        padding-right: 2%;
    }

    .timeline-item .img-carre {
        width: 40px;
    }

    .timeline-item .img-rect {
        width: 120px;
    }

    .timeline-item:nth-child(2n) a {
        flex-direction: column;
    }

    .timeline-item:nth-child(2n) {
        align-self: flex-start;
        margin-bottom: 0px;
    }

    .timeline-card-svg {
        display: none;
    }

    button#right, button#left {
        display: none;
    }
}

@media screen and (min-width:577px) and (max-width: 768px) {}

@media screen and (max-width: 768px) {

    html {
        scroll-behavior: unset;
    }

    section#hero>div.content-wrap {
        padding-top: 0px;;
    }
    
    div.content-wrap {
        width: 90%;
    }

    div.content-wrap {
        width: 720px;
        width: 80%;
        padding-top: 60px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    a,
    p {
        font-size: 0.8rem;
    }

    header img {
        height: 40px;
    }

    header a img[alt="logo"]{
            margin-left: 5%;
    }

    ul.icones {
        display: none;
    }

    .burger {
        display: flex;
        width: 230px;
        justify-content: space-between;
        margin: auto;
        margin-top: 90px;
    }

    section#hero aside.moving-text {
        font-size: smaller;
    }

    section#hero div.icones {
        bottom: 10%;
        right: 10%;
    }

    section:not(#hero) h2 {
        font-size: 1.8rem;
    }

    section:not(#hero) h3 {
        font-size: 1rem;
    }

    .wrap-about-me {
        display: flex;
        flex-direction: column;
    }

    .wrap-about-me-p {
        flex: 10;
        padding-right: 0;
    }

    .wrap-about-me-img {
        margin: auto;
        margin-top: 10%;
        max-width: 40%;
    }

    section#projects h3 {
        font-size: smaller;
        margin: 2%;
        letter-spacing: 0.2rem;
    }

    section#projects div.flex-container {
        display: flex;
        flex-direction: column;
    }

    div#galerie {
        margin-top: 10%;
    }

    .project-item {
        flex: 1 0 98%;
        margin-right: 2%;
        cursor: pointer;
        max-width: 230px;
        height: 400px;
    }

    .project-item .image-container {
        max-height: 300px;
    }

    .flex-item-filter ul {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item-filter ul li {
        flex: 1 0 80px;
        /* text-align: center; */
    }

    div.modal {
        height: 80vh;
    }

    a#media-url {
        display: inline-flex;
    }

    .modal img#media {
        max-width: 80%;
    }

    .modal-content {
        flex-direction: column;
    }

    div.button-wrap {
        display: inline-block;
        margin-top: 20%;
        margin-right: 20%;
        position: relative;
    }

    /* .box-timeline {
        display: flex;
        flex-direction: row-reverse;
        height: 550px;
        overflow-x: scroll;
        width: auto;
        align-items: flex-start; */

    .box-timeline {
        flex-direction: column;
        height: 70vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .box-timeline::-webkit-scrollbar {
        display: none;
    }

    .timeline-item {
        height: 150px;
        width: 300px;
        margin-left: 0px;
        min-height: 115px;
        margin: 0 auto;
    }

    .box-timeline:after {
        display: none;
        /* width: 2px;
        height: 70vh;
        margin-top: 0px;
        margin-left: clamp(380px, 60%, 60%); */
    }


    .timeline-item a {
        flex-direction: row;
    }

    .box-timeline .timeline-item:nth-child(2n) a {
        flex-direction: row;
    }

    .timeline-item p {
        padding-left: 2%;
        padding-right: 2%;
    }

    .timeline-item .img-carre {
        width: 40px;
    }

    .timeline-item .img-rect {
        width: 120px;
    }

    .timeline-item:nth-child(2n) a {
        flex-direction: column;
    }

    .timeline-item:nth-child(2n) {
        align-self: flex-start;
        margin-bottom: 0px;
    }

    .timeline-card-svg {
        display: none;
    }

    button#right, button#left {
        display: none;
    }
}

@media screen and (max-width: 577px) {

    section#hero h2 {
        font-size: 1.8rem;
    }
    /* ul.icones {
        display: none;
    }

    .burger {
        display: flex;
        width: 230px;
        justify-content: space-between;
        margin: auto;
        margin-top: 90px;
    } */

    .modal img#media {
        display: none;
    }

    .button {
        display: block;
        margin-bottom: 10%;
    }
    
    /* 
    .timeline-item {
        margin: 0;
        width: 250px;
        height: 150px;
    }

    .timeline-item p {
        margin: 0;
    }

    div.timeline-item a img.img-carre {
        max-width: 30px;
        /* display: none; 
    }*/

    div.timeline-item a img.img-rect {
        max-width: 60px;
        /* display: none; */
    }

    div.timeline-item a img {
        max-width: 60px;
    }
}