@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@500&display=swap');
@font-face {
    font-family: "Melburch";
    src: url('../assets/fonts/Melburch/Melburch.otf');
}
@font-face {
    font-family: "Melburch Outline";
    src: url('../assets/fonts/Melburch/Melburch\ Outline.otf');
}


/* Global styles
------------------------------- */
html {
    box-sizing: border-box;
    color: #202020;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

section {
    height: 100vh;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
 text-decoration: none;
 color: #202020;
}

a:hover {
    text-decoration:underline;
}

h1, h2, h3 {
    font-family: "Melburch";
    margin: 20px 0;
}

h1 {
    /* font-size: 56px; */
    font-size: 3.5rem;
    line-height: 2;
}

h2 {
    /* font-size: 51px; */
    font-size: 3.2rem;
    line-height: 2;
}

h3 {
    /* font-size: 35px; */
    font-size: 2.3rem;
    line-height: 2;
}
.content-wrap {
    max-width: 1080px;
    width: 100%;
    margin:  0 auto;
    padding: 60px 0;
}
/* .modal-open {
    height: 100vh;
    overflow-y: hidden;
} */

/* Header
------------------------------- */
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 10; */
}

.flex-item-menu {
    flex: 6 1 100px;
    background-color: white;
    /* border: solid 1px black; */
    height: 56px;
}

.flex-item {
    flex: 1 1 100px;
    background-color: white;
    /* border: solid 1px black; */
    align-items: center;
    height: 56px;
}

.menu {
    display:flex;
    text-align: center;
    justify-content: space-around;
}

.menu li {
    align-items: center;
}

.flex-item.toggles {
    display: flex;
    justify-content: flex-end;
}

.flex-item.toggles p {
    flex: 0 1 20%;
}

header img {
    height:56px;
    max-width: 60px;
    margin-left: 20%;
}

/* Hero
------------------------------- */
#hero {
    height: 100vh;
    text-align: center;
}

#hero h2 {
    font-family: 'Melburch Outline';
}

.moving-text {
    position: absolute;
    bottom: 6%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index:-10;
    /* margin-top: 140px; */
}

marquee {
    margin: 7px;
    /* scrolldelay: 20; */
}

.icones {
    width: 5%;
    position: fixed;
    bottom: 15%;
    right: 4%;
}

.icones ul li {
    margin-bottom: 10px;
}

.icones ul li a:hover {
    color:darkgray;
}


/*About
------------------------------- */
.wrap-about-me {
    display: flex;
}

.wrap-about-me-p {
    flex: 8;
}

.wrap-about-me-img {
    flex: 1;
    object-fit: cover;
    border-radius: 5%;
    max-width: 180px;
    margin-left: 10%;;
}

.women-api {
    display: flex;
    display: none;
}

/* Projects
------------------------------- */
section#projects div.flex-container{
    display: flex;
}

div#galerie{
    display: flex;
    flex: 3;
    overflow-x: scroll;
    height: 450px;
    /* scrollbar-width: none; Hide the scroll bar but keep functionality on Firefox */
}
/* Hide the scroll bar but keep functionality
Chrome, Safari and Opera */
/* div#galerie::-webkit-scrollbar{
    display:none;
} */

div#galerie::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

div#galerie::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

div#galerie::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

section#projects h3 {
    font-size: 1.2rem;
    text-align: center;
}

.flex-item-filter {
    flex: 2;
    padding-top: 4%;
}

.flex-item-filter ul li{
    padding-top: 3%;
}

.flex-item-filter ul li.active {
    font-weight: 700;
}

.flex-item-filter ul li:hover{
    padding-top: 3%;
    font-weight: 700;
}

.project-item {
    flex: 1 0 32%;
    margin-right: 2%;
    cursor: pointer;
    max-width: 230px;
}

.project-item:last-child {
    margin-right: 0%;
}

section#projects img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

section#projects img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    /* transition: .3s ease-in-out; */
}

/* .project-item:hover img {
    opacity: .7;
} */

section#projects .image-container {
    height: 300px;
}

/* Modal Project Detail
------------------------------- */
.modal-container {
    /* display: none; On va préférer visibility à display car permet de faire des transition et animation*/ 
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.modal-container.active {
    /* display: block; */
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
    z-index:12;
}
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 1200px;
    min-width: 300px;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    /* pour centrer des éléments positionnés en absolu:  */
    /* ne fonctionne pas */
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
    z-index: 14;
}

.modal-container.active .modal {
    opacity: 1;
    /* ne fonctionne pas */
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

div.modal h2#project-title {
    font-size: 2rem;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color:#fff;
}
.modal-content {
    display:flex;
}
.description-container{
    flex: 1;
}
img#media {
    flex: 1;
    max-width: 600px;
    margin-left: 3%;
}
#tag {
    display: flex;
}
#tag p {
    margin-right: 2%;
}

/* Skills
------------------------------- */
#graph-container {
    max-width: 50%;
    margin: auto;
}

/* Background
------------------------------- */
.box-timeline {
    display: flex;
    flex-direction: row-reverse;
    height: 550px;
    overflow-x: scroll;
    width: auto;
    align-items: flex-start;
}

.timeline-item {
    flex: 1 0 20%;
    margin-left: 5%;
    text-align: center;
}

.timeline-item:nth-child(2n) {
    align-self: flex-end;
    margin-bottom: 2%;;
}

.ligne {
    width: 1000px;
    height: 4px;
    background-color: #343434;
}

.timeline-item h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1em;
}

.timeline-item a img{
    max-height: 50px;
}

.timeline-item a:hover{
    text-decoration: none;
}

.rond {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

/* Contact
------------------------------- */

a.rotate img {
    width: 15%;
    animation: rotate 25s linear infinite;
    transform-origin: center;
    /* border:#ff365e 1px solid; */
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

a.rotate:hover{
    /* transform: scale(0.8); */
}



/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}